.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: rgb(0, 0, 0);
  font-family: 'Berkshire Swash', cursive;
}

.loading {
  margin-top: 210px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
  100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}

.list {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
